{% extends 'base.html.twig' %}

{% block title %}{{'Edit_Author|trans'}}{% endblock %}

{% block body %}
    <h1>{{ 'Edit_Author'|trans}}</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('author_index') }}">{{ 'back_to_list'|trans}}</a>

    <a href="{{ path('author_delete',{'id': author.id}) }}">{{'delete'|trans}}</a>
{% endblock %}
