{% extends 'base.html.twig' %}

{% block title %}{{'Author_index'|trans}}{% endblock %}

{% block body %}
    <h1>{{  'Author_index'|trans}}</h1>
    <div class="nav text-center">
        {{ knp_pagination_render(authors) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{'Id'|trans}}</th>
                <th>{{"Name"|trans}}</th>
                <th>{{"Surname"|trans}}</th>
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>

        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">{{"show"|trans}}</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">{{"edit"|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{'no_records_found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="nav text-center">
        {{ knp_pagination_render(authors) }}
    </div>
    <a href="{{ path('author_new') }}">{{'Create_new'|trans}}</a>
{% endblock %}
