{% extends 'base.html.twig' %}

{% block title %}{{"New Comment"|trans}}{% endblock %}

{% block body %}
    <h1>{{"Create new Comment"|trans}}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{"back to lis"|trans}}</a>
{% endblock %}
