{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>
    <form class="card card-sm" method="get">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search" name="genre">
            </div>
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div class="nav text-center">
        {{ knp_pagination_render(books) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.description }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if null != app.user %}
    <a href="{{ path('book_new') }}">Create new</a>
    {% endif %}
{% endblock %}
