{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>

                    {% for genre in book.genres %}
                        {{ genre.name }}
                    {% endfor%}

                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}

    <a href="{{ path('comment_new', {'id': book.id}) }}">create comment</a>


    <div class="comment">
        <div class="nav text-center">
            {{ knp_pagination_render(comments) }}
        </div>
        {% for comment in comments %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nick: {{ comment.nick }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email:  {{ comment.email }}</h6>
                    <p class="card-text">Comment: {{ comment.content }}</p>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="card-link">Edit</a>
                    {{ include('comment/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <div>
                no records found
            </div>
        {% endfor %}
        <div class="nav text-center">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>

{% endblock %}
