{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author.name }} {{ book.author.surname }}</td>
            </tr>
            <tr>

                <th>Genre</th>
                <td>

                    {% for genre in book.genres %}
                        {{ genre.name }}
                    {% endfor%}

                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>
    {% if app.user %}
    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    <a href="{{ path('book_delete',{'id': book.id}) }}">{{"delete"|trans}}</a>
    {% endif %}

    <a href="{{ path('comment_new', {'id': book.id}) }}">create comment</a>


    {{  include('book/comment_index.html.twig') }}

{% endblock %}
