<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('book_index') }}">{{"Home"|trans}} <span class="sr-only">(current)</span></a>
            </li>
            {% if null != app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('genre_index') }}">{{"Genres"|trans}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('author_index') }}">{{"Authors"|trans}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('comment_index') }}">{{"Comments"|trans}}</a>
            </li>
            {% endif %}

            {% if null == app.user %}
        </ul>

        <ul class="navbar-nav mr-auto">
            <li>  <a class="nav-link" href="{{ path('app_login') }}">{{"Login"|trans}}</a> </li>
        </ul>

        {% endif %}
        {% if null != app.user %}
        <ul class="navbar-nav mr-auto">
            <li>  <a class="nav-link" href="{{ path('app_logout') }}">{{"Logout"|trans}}</a> </li>
        </ul>
        {% endif %}
    </div>
</nav>